/*Fuentes y CSS genérico*/
@font-face {
    font-family: FontContent;
    src: url(../typo/content_typo.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: FontContent;
}

body{
    position: relative;
    min-height: 100vh;
    background: #03080a;
    color: white;
  }

/*Código para el NAV - menu*/

.menu-container{
    display: flex;
    flex-direction: row;
    text-align: center;
}

header{
    background: black
}

header p{
    margin: 20px auto 0px 10%;
    color: white;
}

nav{
    align-items: center;
    /*arriba derecha abajo izquierda*/
    margin: 20px 10% 20px auto;
}

nav li{
    display: inline;
    margin: 0px 40px 0px 40px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

/*CÓDIGO GENÉRICO ESCTRUCTURA*/ 

.page{
    display: flex;
    width: 50%;
    height: 1000px;
    margin: 5% 20% 5% 25%;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    /* box-shadow: 20px 20px 150px 30px rgb(83, 83, 83); */
    animation: rainbow-box-shadow 10s infinite;
}

@keyframes rainbow-box-shadow {
    0% { box-shadow: 20px 20px 150px 0px red; }
    14% { box-shadow: 20px 20px 150px 0px orange; }
    28% { box-shadow: 20px 20px 150px 0px yellow; }
    42% { box-shadow: 20px 20px 150px 0px green; }
    57% { box-shadow: 20px 20px 150px 0px blue; }
    71% { box-shadow: 20px 20px 150px 0px indigo; }
    85% { box-shadow: 20px 20px 150px 0px violet; }
    100% { box-shadow: 20px 20px 150px 0px red; }
  }

aside:nth-child(1){
    width: 65%;
    min-height: 100vh;
}

aside:nth-child(2){
    width: 1px;
    height: 90%;
    margin: auto;
    background: rgba(165, 165, 165, 0.5);
}
aside:nth-child(3){
    width: 34%;
    min-height: 100vh;
}

/*CÓDIGO PARA EL CONTENIDO, ASIDE 1*/

#wrapper{
    display: flex; 
    width: 100%;
    height: 20%;
    margin: 60px 0px 0px 50px;
}

div.img-wrapper{
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 30px;
}

div.page aside div div img{
    width: 100%;
    height: auto;
    margin-top: -15px;
}

div#test2 p{
    color: rgb(235, 235, 235);
}

div#test2 p:nth-child(1){
    font-size: 37px;
    color: #45f3ff;
}

.experience{
    display: flex;
    margin: 30px 0px 0px 50px;
    color: rgb(235, 235, 235);
}

.empresas{
    margin: 0px 0px 20px 0px;
}

.title{
    font-size: 20px;
    margin-bottom: 5px;
    color: rgb(0, 255, 34);
}

.años{
    font-size: 12px;
    margin-bottom: 20px;
    color: #f00;
}

.content-exp{
    border-left: 1px solid rgba(165, 165, 165, 0.5);
    padding-left: 40px;
}

/*AL FIN, EL OSADO CÓDIGO DEL SIGUIENTE ASIDE, EL DERECHO*/

.erContaiinerrrr{
    display: flex; 
    width: 100%;
    height: 21%;
    margin: 50px 0px 0px 40px;
}

aside div.wrapper2 div#spain p:nth-child(1){
    color: white;
    font-size: 22px;
}

aside div.wrapper2 div#spain p:nth-child(2){
    font-size: 12px;
    color: rgb(235, 235, 235);
    margin-top: 40px;
}

aside div.wrapper2 div#spain p:nth-child(3){
    font-size: 12px;
    color: rgb(235, 235, 235);
    margin-top: 10px;
}

#maG{
    margin-top: 60px;
}

.color_fondo{
    background: grey;
    width: 100%;
    border-radius: 75px;
}

.color_progreso{
    background: #45f3ff;
    border-radius: 75px;
}

aside div.wrapper2 div#maG p:nth-child(1){
    color: white;
    font-size: 22px;
}

aside div.wrapper2 div#maG p:nth-child(1n + 2){
    font-size: 12px;
    margin-top: 30px;
    margin-bottom: 8px;
    color:rgb(255, 214, 0);
}

div#comps p:nth-child(1){
    margin-top: 50px;
}

div#hobbies p:nth-child(1){
    margin-top: 50px;
}

.main-title{
    color: #f306df !important;
}