/*  
    font-family: 'Teko', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Teko', sans-serif;
    color: white;
}

body{
    background: radial-gradient(circle, rgba(237,86,101,1) 0%, rgba(125,84,213,1) 94%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw; 
}

.pcontainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* TODO EL CONTENIDO DE ABAJO TIENE QUE VER CON EL NAV / MENU */

#pimglogin{
    float: right;
    padding: 9px;
  }
  
  #login {
    float: right;
    font-size: 32px;
    margin-right: 30px;
  }
  
  #login img{
    width: 18px;
  }

nav{
    position: relative;
    padding: 10px;
    background-color: black;
    text-align: center;
}

.navbar-menu{
    list-style: none;
    display: flex;
}

.navbar-toggler {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    display: none;
  }

#pimgnav {
    width: 40px;
    float: left;
    margin-left: 20px;
}

#psmsoundnav{
    float: left;
    font-size: 32px;
    margin-left: 1%;
}

nav li {
    display: inline;
    font-size: 27px;
    margin: 20px 20px 20px 20px;
}

nav ul{
    margin-right: 5%;
}

nav li a{ 
    text-decoration: none; 
}

nav a{
    text-decoration: none;
}

nav a:hover{
    background:rgba(202, 202, 202, 0.3);
    padding: 0px 7px 0px 7px;
    border-radius: 10px;
}

/* TODO EL CÓDIGO DE ABAJO ES SOBRE LAS CARTAS*/

.pcarta{
    position: relative;
    height: 370px;
    width: 290px;
    margin: 30px;
    border: 2px solid rgb(51, 50, 50);
    border-radius: 25px;
    margin-top: 10%;
    background-color: #cacdd260;
    cursor: pointer;
}

.pcarta p,li{
    color: white;
}

.pback-card{
    margin: 15%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.pfront-card{
    transform: rotateY(180deg);
}



.pback-card, .pfront-card{
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.pcarta:hover .pcard-inner{
    transform: rotateY(180deg);
}

.ptitulitis{
    text-align: center;
    font-size: 40px;
}
.ptitulitis_gratuito{
    text-align: center;
    align-items: center;
    font-size: 40px;
    left: 100px;
    position: absolute;
    margin-top: 50px;
}
.ptitulitis_premium{
    text-align: center;
    align-items: center;
    font-size: 40px;
    left: 94px;
    position: absolute;
    margin-top: 50px;
}
.ptitulitis_profesional{
    text-align: center;
    align-items: center;
    font-size: 40px;
    left: 80px;
    position: absolute;
    margin-top: 50px;
}
.ptitulitis_business{
    text-align: center;
    align-items: center;
    font-size: 40px;
    left: 95px;
    position: absolute;
    margin-top: 50px;
}
.pprecio{
    text-align: center;
    font-size: 80px;
}

.pcaracteristicas{
    font-size: 20px;
    list-style-image: url('../img/tick_verde.png');
}

.pdesc{
    font-size: 20px;
    text-align: center;
    margin-bottom: 15%;
    margin-top: -10%;
    color: rgb(202, 202, 202);
}

.pcard-inner{
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.btn22{
    width: 180px;
    text-align: center;
    padding: 3px;
    font-size: 30px;
    background-color: #7d54d5;
    position: absolute;
    left: 53px;
    top: 110px;
    color: white;
    border-color: black;
    margin-top: 50px;
    cursor: pointer;
}

/* TODO EL CÓDIGO DE ABAJO TIENE QUE VER CON EL FOOTER */

footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: 250px;
    width: 100vw;
    padding-top: 30px;
    color: #fff;
    margin-top: 80px;
}

.pfootercontent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.pfootercontent h3{
    font-size: 2.7rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.pfootercontent p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 25px;
    color: #cacdd2;
}

/* codigo para mostrar las redes sociales en el footer */

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
}
.socials a img{
    width: 24px;
}
/* parte de abajo del footer*/

.pfooterbottom{
    background: #111;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.pfooterbottom p{
    float: left;
    font-size: 20px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.pfooterbottom p a{
    color:#44bae8;
    font-size: 20px;
    text-decoration: none;
}

.pfooterbottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.pfootermenu{
    float: right;
  }
  
.pfootermenu ul{
    display: flex;
}
  
.pfootermenu ul li{
  padding-right: 10px;
  display: block;
  font-size: 24px;
}
  
.pfootermenu ul li a{
    color: #cfd2d6;
    text-decoration: none;
}
  
.pfootermenu ul li a:hover{
    color: #27bcda;
}

    @media (max-width:1400px) {
        .footer-menu ul{
          display: flex;
          margin-top: 10px;
          margin-bottom: 20px;
        }
        footer{
            position:  relative;
            bottom: 0px;
        }
    }
    
    @media (max-width:768px) {
        .footer-menu ul{
          display: flex;
          margin-top: 10px;
          margin-bottom: 20px;
        }
        footer{
            position:  relative;
            bottom: 0px;
        }
    }
    
    @media (max-width:500px) {
        .footer-menu ul{
          display: flex;
          margin-top: 10px;
          margin-bottom: 20px;
        }
        footer{
            position: relative;
            bottom: 0px;
        }
        form{
          position: relative;
          margin-top: 40%;
        }
    }
    
